<h1>Datos de Contacto</h1>
<form>
    <div class="form-group">
        <label for="postulanteCelular">Número de celular</label>
        <input type="text" class="form-control" id="postulanteCelular" placeholder="Número de Celular">
    </div>
    <div class="form-group">
        <label for="postulanteEmail">Correo Electrónico</label>
        <input type="email" class="form-control" id="postulanteEmail" placeholder="name@example.com">
    </div>

    <div class="form-group">
        <label for="postulanteExp">Describa su experiencia</label>
        <textarea class="form-control" id="postulanteExp" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Postular</button>
</form>