@model IEnumerable<Detpostuof>

@foreach (var item in Model)
{

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@item.Ofertalaboral.Titulooferta</h5>
                    <p class="card-text">@item.Ofertalaboral.Detalleoferta</p>
                    <p class="card-text"><small class="text-muted">@item.Ofertalaboral.Empresa.Razonsocial</small></p>
                </div>
            </div>
        </div>
    </div>
}