
<h1>Crea tu cuenta de empresa</h1>


<form>
    <h4>Datos del administrador de RRHH</h4>
    <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" class="form-control" id="email" placeholder="Ingresa aquí tu email">

    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresa aquí tu nombre">

    </div>
    <div class="form-group">
        <label for="apellido">Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Ingresa aquí tu apellido">

    </div>

    <h4>Datos de la empresa</h4>
    <div class="form-group">
        <label for="ruc">RUC</label>
        <input type="text" class="form-control" id="ruc" placeholder="RUC">
    </div>
    <div class="form-group">
        <label for="razonSocial">Razón Social</label>
        <input type="text" class="form-control" id="razonSocial" placeholder="Razón Social">
    </div>

    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" id="telefono" placeholder="Número de teléfono fijo o celular">
    </div>
    <div class="form-group">
        <label for="industria">Industria</label>
        <select class="form-control" id="industria">
            <option>Minera</option>
            <option>Tecnología</option>
            <option>Textil</option>
            <option>Pesquera</option>
            <option>Salud</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
