

@model Ofertalaboral


@*@model Ofertalaboral*@

<div class="alert alert-warning" role="alert">

    <div class=" row">
        <div class="col-md-7">
            <h3>
                Registro de  Oferta Laboral
            </h3>

        </div>
        <div class="col-md-5">
            <button id="btnRegistrarOferta"
                    class=" btn btn-secondary">

                Registrar
            </button>

        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalRegistrOfertaLaboral" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <div class="col">
                    <p class="text-center font-weight-bold">Título</p>
                    <input type="text" class=" form-control border-primary" id="txtTitulo" />
                </div>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class=" container-fluid">

                    <div class="row">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Descripción del puesto</p>

                                <textarea class="form-control border-primary" id="txtDescripcionpuesto" rows="3"></textarea>
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class=" form-group">
                                <p class="font-weight-bold">Inicio de postulación</p>
                                <input type="date" id="txtFechaIn" name="trip-start"
                                       value="2021-07-10"
                                       min="2021-07-10" max="2021-12-31">
                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class=" form-group">
                                <p class="font-weight-bold">Fin de postulación</p>
                                <input type="date" id="txtFechaF" name="trip-start"
                                       value="2021-07-10"
                                       min="2021-01-01" max="2021-12-31">
                            </div>

                        </div>

                    </div>




                    <div class="row">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Detalle de la oferta</p>
                                <textarea class="form-control border-primary" id="txtDetalle" rows="3"></textarea>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Lugar</p>
                                <input type="text" class=" form-control border-primary" id="txtLugar" />
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Perfil del candidato</p>
                                <textarea class="form-control border-primary" id="txtPerfil" rows="3"></textarea>
                            </div>

                        </div>


                        <div class=" col-md-3">

                            <p class="input-group-text font-weight-bold" for="inputGroupSelect01">Jornada</p>
                        </div>

                        <div class="col-md-3">
                            @*<select class="form-select" id="txtJornada">

                                    <option selected></option>
                                    <option value="Full time">Full time</option>
                                    <option value="Part time">Part time</option>

                                </select>*@


                            <select asp-for="JornadaId" class="form-control border-primary" asp-items="ViewBag.EstadocivilIdestciv"></select>

                        </div>




                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Requisitos</p>
                                <textarea class="form-control border-primary" id="txtRequisitos" rows="3"></textarea>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <p class="font-weight-bold">Salario</p>
                            <div class="input-group">

                                <input type="text" class="form-control border-primary" id="txtSalario" aria-label=" Sol amount (with dot and two decimal places)">
                                <span class="input-group-text">S/.</span>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class=" form-group">
                                <p class="font-weight-bold">Beneficios</p>
                                <textarea class="form-control border-primary" id="txtBeneficios" rows="3"></textarea>

                            </div>

                        </div>


                        <div class=" col-md-3">

                            <p class="font-weight-bold">Modalidad</p>
                        </div>

                        <div class="col-md-3">
                            <select class="form-select border-primary" id="txtModalidad">

                                <option selected></option>
                                <option value="Presencial">Presencial</option>
                                <option value="Semipresencial">Semipresencial</option>
                                <option value="Virtual">Virtual</option>
                            </select>
                        </div>




                    </div>




                </div>
            </div>
            <div class="modal-footer">
                <div class="d-grid gap-9 col-3 mx-auto">

                    <button type="button" class="btn btn-success" id="btnCrearOferta">Crear Oferta</button>


                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Cancelar"> Cancelar</button>


                </div>
            </div>
        </div>
    </div>
</div>





<input type="hidden" id=" = hidIDRegistro" value=" -1" />


<hr />

<div id="divListadoRegistroOferta">

    <!---la lista de ofertas del admi logueado-->
</div>


<script>

    CargarListaIOfertas();

    function CargarListaIOfertas() {
        $.ajax({
            type: "GET",
            url: "MisOfertas",
            cache: false,
            success: function (dataHtml) {
                $("#divListadoRegistroOferta").html(dataHtml);
            }

        });

    }














    $("#btnCrearOferta").click(function () {

        let vIDRegistro = $("#hidIDRegistro").val();
        let vTitulo = $("#txtTitulo").val();
        let vDescripcionpuesto = $("#txtDescripcionpuesto").val();
        let vDetalle = $("#txtDetalle").val();
        let vPerfil = $("#txtPerfil").val();
        let vRequisitos = $("#txtRequisitos").val();
        let vBeneficios = $("#txtBeneficios").val();
        let vLugar = $("#txtLugar").val();

        let vSalario = $("#txtSalario").val();
        let vModalidad = $("#txtModalidad").val();
        let vFechIni = $("#txtFechaIn").val();
        let vFechFin = $("#txtFechaF").val();
        let vIdJornada = $("#JornadaId").val();



        $.ajax({

            type: "POST",
            url: "Crear",
            cache: false,
            data: {
                idRegistro: vIDRegistro,
                Titulo: vTitulo,
                Descripcionpuesto: vDescripcionpuesto,
                Detalle: vDetalle,
                Perfil: vPerfil,
                Requisitos: vRequisitos,
                Beneficios: vBeneficios,
                Lugar: vLugar,
                Jornada: vIdJornada,
                Salario: vSalario,
                Modalidad: vModalidad,
                FechaInicio: vFechIni,
                FechaFin: vFechFin,


            },

            success: function (exito) {
                if (exito) {

                    swal("Se registró correctamente!")

                    CargarListaIOfertas()

                    $("#modalRegistrOfertaLaboral").modal("toggle");
                } else {

                    alert(" Error al registrar oferta laboral")
                }

            }


        });

    });

    $("#btnRegistrarOferta").click(function () {

        $("#modalRegistrOfertaLaboral").modal();
    });

</script>

