@{
    ViewData["Title"] = "Privacy Policy";
}


<h1> Nuestras Empresas</h1>

<p>Miles de empresas están registradas en nuestro portal , que esperas , únete a nosotros</p>

<div >
    <img  src="~/Images/font_empresaIndex.jpg"/>

</div>
